{% extends "base.html" %}
{% load static %}
{% block javascript %}
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-year-calendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock javascript %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-year-calendar.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
{% endblock css %}

{% block body %}
    <div class="container text-center">
        <h1 class="header__title">Facebook Calendar</h1>
        
        <fb:login-button 
            scope="public_profile,email"
            onlogin="checkLoginState();">
        </fb:login-button>
        
        <button class="button__logout" onClick="logoutFacebook()">
            Logout
        </button>

        <p class="facebook__status">
            Status: <span class="facebook__status-response"></span>
        </p>

        <div data-provide="calendar"></div>
    </div>
{% endblock body %}
