.button__logout{
    color: white;
    box-shadow: none;
    border: 0;
    display: inline-block;
    font-size: 12px;
    position: relative;
    top: -2px;
    border-radius: 2px;
    padding: 3px 10px;
    cursor: pointer;
    background: linear-gradient(#4c69ba, #3b55a0);
    border-radius: 2px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 -1px 0 #354c8c;
}
.button__logout:hover{
    opacity: .8;
}

.facebook__status-response{
    text-transform: uppercase;
}

.calendar{
    overflow: hidden;
}