{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <script type="text/javascript">
        var $csrf_token = '{{ csrf_token }}';
    </script>
    <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> 


    <meta charset="UTF-8">
    <title>Calendar Facebook</title>
    {% block css %}
    {% endblock css %}
    {% block javascript %}
    {% endblock javascript %}
</head>

<body>
  {% block body %}

  {% endblock body %}
</body>
</html>